In [32]:
import sqlite3
from sqlite3 import Error

 
def create_connection(db_file):
    """ create a database connection to the SQLite database
        specified by the db_file
    :param db_file: database file
    :return: Connection object or None
    """
    conn = None
    try:
        conn = sqlite3.connect(db_file)
        print(sqlite3.version)
    except Error as e:
        print(e)
 
    return conn

 
def select_all_tasks(conn):
    """
    Query all rows in the tasks table
    :param conn: the Connection object
    :return:
    """
    cur = conn.cursor()
    
    query1 = """
        SELECT firstname
        FROM MEMBERS
        """
    
    query2 = """
        SELECT * 
        FROM (
            SELECT subqry1.facility, SUM( subqry1.cost ) AS total_revenue
            FROM (
                SELECT Facilities.name AS facility, 
                CASE 
                    WHEN Bookings.memid =0
                    THEN Facilities.guestcost * Bookings.slots
                    ELSE Facilities.membercost * Bookings.slots
                END AS cost
            FROM Bookings
            INNER JOIN Facilities ON Bookings.facid = Facilities.facid
            INNER JOIN Members ON Bookings.memid = Members.memid)subqry1
            GROUP BY subqry1.facility)subqry2
        WHERE subqry2.total_revenue <1000
        """
        
    query3 = """
        SELECT member.surname, member.firstname, member.recommendedby AS recomender_id, rec.surname AS recomender_surname, rec.firstname AS recomender_firstname
        FROM Members AS member
        LEFT JOIN Members AS rec ON member.recommendedby = rec.memid
        WHERE member.recommendedby != 0
        ORDER BY rec.surname, rec.firstname
        """
    
    query4 = """
    SELECT book.facid, COUNT( book.memid ) AS mem_usage, fac.name
    FROM (
        SELECT facid, memid
        FROM Bookings
        WHERE memid !=0
        ) AS book
    LEFT JOIN Facilities AS fac ON book.facid = fac.facid
    GROUP BY book.facid;
    """
    
    query5 = """
    SELECT book.months, COUNT( book.memid ) AS mem_usage
    FROM (
        SELECT strftime('%m', starttime) AS months, memid
        FROM Bookings
        WHERE memid !=0
        ) AS book
    GROUP BY book.months;
    """
    
    cur.execute(query1)
 
    rows = cur.fetchall()
    print("")
    print("Query1")
 
    for row in rows:
        print(row)
    print("End of Query")

    cur.execute(query2)
 
    rows = cur.fetchall()
    print("")
    print("Query2")
 
    for row in rows:
        print(row)
    print("End of Query")

    
    print("")
    print("Query3")
 
    for row in rows:
        print(row)
    print("End of Query")
    
    cur.execute(query4)
 
    rows = cur.fetchall()
    print("")
    print("Query4")
 
    for row in rows:
        print(row)
    print("End of Query")

    cur.execute(query5)
 
    rows = cur.fetchall()
    print("")
    print("Query5")
 
    for row in rows:
        print(row)
    print("End of Query")    
    
def main():
    database = "sqlite_db_pythonsqlite.db"
 
    # create a database connection
    conn = create_connection(database)
    with conn: 
        print("2. Query all tasks")
        select_all_tasks(conn)
 
 
if __name__ == '__main__':
    main()

2.6.0
2. Query all tasks

Query1
('GUEST',)
('Darren',)
('Tracy',)
('Tim',)
('Janice',)
('Gerald',)
('Burton',)
('Nancy',)
('Tim',)
('Ponder',)
('Charles',)
('David',)
('Anne',)
('Jemima',)
('Jack',)
('Florence',)
('Timothy',)
('David',)
('Matthew',)
('Anna',)
('Joan',)
('Ramnaresh',)
('Douglas',)
('Henrietta',)
('David',)
('Henry',)
('Millicent',)
('Hyacinth',)
('John',)
('Erica',)
('Darren',)
End of Query

Query2
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
End of Query

Query3
('Pool Table', 270)
('Snooker Table', 240)
('Table Tennis', 180)
End of Query

Query4
(0, 308, 'Tennis Court 1')
(1, 276, 'Tennis Court 2')
(2, 344, 'Badminton Court')
(3, 385, 'Table Tennis')
(4, 421, 'Massage Room 1')
(5, 27, 'Massage Room 2')
(6, 195, 'Squash Court')
(7, 421, 'Snooker Table')
(8, 783, 'Pool Table')
End of Query

Query5
('07', 480)
('08', 1168)
('09', 1512)
End of Query